table{
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
}
th,td{
    border: solid 1px #eee;
    padding: 5px;
    text-align: center;
}
th{
    background-color:cornflowerblue;
    color:white;
}
tr:nth-child(even){
    background-color: #eee;
}
tr:hover{
    background-color: #aaa;
    cursor: pointer;
}